#home-view-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-text {
    margin: 0% 7% 0% 7%;
}
.service-offerings {
    font-size: 1vw;
}
.underline {
    border-bottom: solid white 2px;
    padding-bottom: 1%;
}
.title-div {
    display: flex;
    justify-content: center;
}

/* Mobile CSS */
@media (max-width: 1400px) {
    .service-offerings {
        font-size: 14px;
    }
}

